{% extends "base.html" %}
{% load thumbnail %}
{% load i18n %}

{% block content %}
<div class="container-fluid mt-5 pt-5 d-flex justify-content-center">
  <div class="bg-secondary-subtle rounded d-flex flex-column align-items-center p-5 g-3">
    {% thumbnail profile.avatar "200x200" crop="center" format="PNG" as thumb %}
        <img class="rounded" src="{{ thumb.url }}" alt="{{profile.get_full_name}} avatar">
    {% endthumbnail %}
    <h1>{{profile.get_full_name}}</h1>
    <h2>{{profile.get_role_display}}</h2>
    <h2>{{profile.user.email}}</h2>
    <textarea name="bio" id="bio" class="w-100" rows="5" readonly>{{profile.bio}}</textarea>
    {% if profile.user == user %}
      <div class="btn-group mt-3" role="group" aria-label="Account actions">
        <a href="{% url "users:edit-profile" %}" class="btn btn-outline-warning">{% translate "Edit" %}</a>
        {% if profile.is_student %}
          <a href="{% url "users:delete-profile" %}" class="btn btn-danger">Delete account</a>
        {% endif %}
      </div>
    {% endif %}
  </div>
</div>
{% endblock content %}