{% extends "base.html" %}
{% load thumbnail %}
{% load i18n %}

{% block content %}
  {% include "messages.html" %}

  <h1> {{profile.get_full_name}} </h1>
  <h2> {{profile.get_role_display}}</h2>
  {% thumbnail profile.avatar "200x200" crop="center" format="PNG" as thumb %}
      <img src="{{ thumb.url }}" alt="{{profile.get_full_name}} avatar">
  {% endthumbnail %}
  <h2>{{profile.user.email}}</h2>
  <textarea name="bio" id="bio" readonly>{{profile.bio}}</textarea>
  {% if profile.user == user %}
    <div class="actions">
      <a href="{% url "users:edit-profile" %}">{% translate "Edit" %}</a>
      {% if profile.is_student %}
        <a href="{% url "users:delete-profile" %}">Delete account</a>
      {% endif %}

    </div>
  {% endif %}

{% endblock content %}