{% load i18n %}
<div class="col-4 col-lg-3 p-2">
  <div class="w-100 h-100 p-2 d-flex flex-column justify-content-between rounded bg-secondary-subtle shadow-lg">
    <div>
      <a class="no-text-decoration" href="{{ lesson.get_absolute_url }}">
        <h2>{{ lesson.title }}</h2>
      </a>
      <h5>{{ lesson.content|truncatechars:100 }}</h5>
    </div>
    {% if request.user.profile.is_teacher %}
      <div class="btn-group" role="group" aria-label="Lesson actions">
        <a class="btn btn-outline-warning py-1" href="{% url 'subjects:edit-lesson' subject lesson %}">{% translate 'Edit Lesson' %}</a>
        <a class="btn btn-danger py-1" href="{% url 'subjects:delete-lesson' subject lesson %}">{% translate 'Delete Lesson' %}</a>
      </div>
    {% endif %}
  </div>
</div>
