{% extends 'base.html' %}
{% load markdownify %}
{% load i18n %}

{% block content %}
  <div class="container-fluid w-100 pt-5 d-flex justify-content-center">
    <div class="mt-5 p-4 w-75 rounded bg-secondary-subtle shadow-lg g-4">
      <h1>{{ lesson.title }}</h1>
      {% if request.user.profile.is_teacher %}
        <div class="btn-group mt-3" role="group" aria-label="Lesson actions">
          <a class="btn btn-outline-warning py-1" href="{% url 'subjects:edit-lesson' subject lesson %}">{% translate 'Edit Lesson' %}</a>
          <a class="btn btn-danger py-1" href="{% url 'subjects:delete-lesson' subject lesson %}">{% translate 'Delete Lesson' %}</a>
        </div>
      {% endif %}
      <p class="fs-5 mt-3">{{ lesson.content | markdownify }}</p>
    </div>
  </div>
{% endblock %}
