@font-face {
  font-family: "Inter";
  src: url("../fonts/TitilliumWeb-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/*
  General
*/

* {
  color: white;
  font-family: "Inter", sans-serif;
}

#setlang,
#logout {
  margin: 0;
  display: flex;
  align-items: center;
}

.no-text-decoration {
  text-decoration: none !important;
}

/**
  Header
*/

select[name="language"] {
  background-color: transparent;
  border: none;
}

/**
  Index
*/

#index-background {
  background-image: url("../img/index_background.jpg");
  opacity: 10%;
}

/**
  Forms
*/

form:not(#setlang, #edit_marks) {
  width: fit-content;
  padding: 2rem;
  background: var(--bs-secondary-bg-subtle);
  border-radius: 20px;
  box-shadow: 5px 5px 15px 5px var(--bs-body-bg);
}

form:not(#setlang, #edit_marks, #edit-profile) div {
  margin: 5px 0;
  display: flex;
  flex-direction: column;
}

form:not(#setlang, #edit_marks) div label {
  font-size: 1.1rem;
}

textarea,
form:not(#setlang) div input {
  border: 2px solid var(--bs-secondary);
  border-radius: 6px;
  background-color: var(--bs-secondary-bg-subtle);
}

input[id^="id_form-"] {
  width: 100%;
}

/**
  Edit Profile
*/

#edit-profile div label[for="id_bio"],
#edit-profile div textarea[id="id_bio"],
#edit-profile div label[for="id_avatar"] {
  width: 100%;
  margin-bottom: 5px;
}
#edit-profile div a[href^="/media/avatars"] {
  display: inline-block;
  width: 77%;
  margin-bottom: 5px;
}
#edit-profile div label[for="avatar-clear_id"],
#edit-profile div input[id="avatar-clear_id"] {
  margin-bottom: 5px;
}
