{% load thumbnail %}

<div class="enrollment">
  {% for hidden in form.hidden_fields %}
    {{ hidden }}
  {% endfor %}
  {% thumbnail form.instance.student.profile.avatar "50x50" crop="center" format="PNG" as thumb %}
      <img src="{{ thumb.url }}" alt="{{form.instance.student.profile.get_full_name}} avatar">
  {% endthumbnail %}
  <h1 class="name">{{ form.instance.student.profile.get_full_name }}</h1>
  <h2 class="mark">{{ form.mark }}</h2>
  {{ form.mark.errors }}
  {{ form.non_field_errors }}
</div>