{% extends 'base.html' %}
{% load i18n %}

{% block content %}
  {% include "messages.html" %}
  <h1>{{ subject }}</h1>
  {% if request.user.profile.is_teacher %}
    <div class="actions">
      <a href="{% url 'subjects:add-lesson' subject %}">{% translate 'Add Lesson' %}</a>
      <a href="{% url 'subjects:mark-list' subject %}">{% translate 'Marks' %}</a>
    </div>
  {% endif %}

  {% if request.user.profile.is_student %}
    {% if enrollment.mark %}
      <h3>{% translate 'Your mark for this subject:' %}{{ enrollment.mark }}</h3>
    {% endif %}
  {% endif %}

  <div class="lessons">
    {% for lesson in subject.lessons.all %}
      {% include 'subjects/lesson/component.html' %}
    {% endfor %}
  </div>
{% endblock %}
