{% extends 'base.html' %}
{% load i18n %}

{% block content %}
  <h1>{% translate 'My subjects' %}</h1>
  {% include "messages.html" %}
  {% if user.profile.is_student %}
  <a href="{% url 'subjects:request-certificate' %}">{% translate "Request Grade Certificate" %}</a>
  <a href="{% url 'subjects:enroll-subjects' %}">{% translate "Enroll Subjects" %}</a>
  <a href="{% url 'subjects:unenroll-subjects' %}">{% translate "Unenroll Subjects" %}</a>


  {% endif %}
  <div class="subject-list">
    {% for subject in subjects %}
      {% include 'subjects/subject/component.html' %}
    {% empty %}
      {% translate 'No subjects available.' %}
    {% endfor %}
  </div>
{% endblock %}
