{% extends 'base.html' %}
{% load i18n %}

{% block content %}
  <h1>{% translate 'My subjects' %}</h1>
  <div class="messages">
    {% for message in messages %}
      <div class="message {{ message.tags }}">{{ message }}</div>
    {% endfor %}
  </div>
  {% if user.profile.is_student %}
  <a href="{% url 'subjects:request-certificate' %}">{% translate "Request Grade Certificate" %}</a>
  {% endif %}
  <div class="subject-list">
    {% for subject in user_subjects %}
      {% include 'subjects/subject/component.html' %}
    {% empty %}
      {% translate 'No subjects available.' %}
    {% endfor %}
  </div>
{% endblock %}
